<section class="publication-top ">
    <div>
        <div class="dropzone PBClear">
            <div class="PBViewing" style="width:100%;">
                <div class="widget">
                    <div>
                        <div class="content">
                            <div ng-show="isVisible('section-the-project')" class="animate-show animate-hide">
                                {% include "app/content-the-project.html" %}
                            </div>
                            <div ng-show="isVisible('section-edirectory')" class="animate-show animate-hide">
                                {% include "app/content-edirectory.html"%}
                            </div>
                            <div ng-show="isVisible('section-contacts')" class="animate-show animate-hide">
                                {% include "app/content-contacts.html"%}
                            </div>
                            <div ng-show="isVisible('section-resources')" class="animate-show animate-hide">
                                {% include "app/content-resources.html"%}
                            </div>
                            <div ng-show="isVisible('section-events')" class="animate-show animate-hide">
                                {% include "app/content-events.html"%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
