<section class="publication-top ">
    <div>
        <div class="dropzone PBClear">
            <div class="PBViewing" style="width:100%;">
                <ul class="columnwidgetlist">
                    <li class="PBItem">
                        <div class="widget">
                            <div>
                                <div class="content">
                                    <div ng-show="title=='-The Project'">
                                        {% include "app/the-project.html"%}
                                    </div>
                                    <div ng-show="title=='-Women EAC Network Directory'">
                                        {% include "app/women-EAC-directory.html"%}
                                    </div>
                                    <div ng-show="title=='-EAC Business Contacts'">
                                        {% include "app/EAC-business-contacts.html"%}
                                    </div>
                                    <div ng-show="title=='-Publications, Resources and downloads'">
                                        {% include "app/publications-res-down.html"%}
                                    </div>
                                    <div ng-show="title=='-Events in EAC'">
                                        {% include "app/content-events.html"%}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>