<h2>MISSION OF THE PROJECT</h2>

<h3>FACILITATING EXPORTS AND SUPPORTING WOMEN TO PASS FROM INFORMAL TO FORMAL CROSS-BORDER TRADE IN THE EST AFRICAN
    COMMUNITY</h3>
<p>The WICBT Project implemented by ITC has as objective to support Women Informal Cross Border Traders (WICBTs) and
    MSMEs in the region of East African Community to comply with import/export procedures and to pass from informal to
    formal cross border trade.</p>
<p>Indeed, informal cross-border trade involves imports and exports of legitimately produced
    goods and services, which directly or indirectly escape the regulatory framework for taxation and other
    government procedures. As such, informal cross- border trade often goes incorrectly or totally
    unrecorded in official national statistics.</p>

<h3>PHASE PILOT AND PHASE II CARRYING OUT IN BURUNDI, TANZANIA AND UGANDA</h3>
<p>
    The WICBT Project has begun by a Pilot Phase between 2011 and 2012 implemented in Uganda. Its results were noted in
    several important outcomes benefited directly to some 200 women were engaged in the informal cross border traders.
    On the base on this achievement, the Phase II (2014-2015) has been implemented in Burundi, Tanzania and Uganda and
    concerned some 500 women.</p>
<p>ITC’s assistance developed a lot of actions at borders during this second Phase. The
    implementation of the WICBT project was coordinated strongly with the support of national partners and ITC
    consultants in counterpart.</p>
<p> National partner in Burundi is the “Association des Femmes d’Affaires du Burundi (AFAB)”;<br>
    National partner in Tanzania is the “Trade Development Authority (TanTrade)”;<br>
    National partner in Ugand is the “Uganda Export Promotion Board (UEPB)”.</p>
<p> Diagnostic studies, surveys, consultancies have been conducted along the implementation of the project to evaluate
    impacts and results.</p>

<h3>ACTIONS PERFORMED:</h3>

<h3>1/ CAPACITY BUILDING ON CROSS BORDER DECLARATIONS</h3>
<p>To reinforce capacities in good export-import compliance of women engaged in informal cross border trade, ITC
    elaborated and translated in local languages training manuals and delivered training sessions at border. Various
    modules have been adapted on national scale and translated in local languages (Kiswahili, Swahili, Kirundi).<br>
    Multipliers and trainers have been trained at border in Women Trade Services Hub to disseminate and support WICBTs
    to declare transactions and to pass from informal to formal cross border trade.</p>

<img src="/static/app/images/the-project.png" alt="EAC">

<h3>2/ SUPPORTING TO PASS FROM INFORMAL</h3>
<p>TO FORMAL CROSS BORDER TRADE To support women engaged in informal cross border trade (WICBT) to pass to formal
    trade, WICBTs associations are created or supported to gather women and awareness to register their business. For
    that, training sessions and training modules supported WICBTs to manage and strengthen an association. A WICBTs
    association form a focal point at border, (named Women Trade Services Hub), which delivers information &amp;
    awareness on export-import procedures and official registration of SMEs among others. Furthermore, a training module
    is dedicated on the registration to obtain a Tax Number Identification.</p>

<h3>3/ AWARNESS AND DISSIMINATION OF GOOD EXPORT-IMPORT COMPLIANCE AT BORDER</h3>
<p>Women Trade Services Hubs are established at border to awareness Women &amp; ICBTs. These focal
    points deliver various services such as the support on custom procedures &amp; export requirements,
    capacity building, and have EAC directory to facilitate business networking.</p>
<p>The main advantages of a Women Trade Services Hub are:</p>
<ol>
    <li>Assistance related to customs procedures and export requirements, capacity building services and answers to
        common trade facilitation hurdles.
    </li>
    <li>Customer care services that facilitates and creates a faster, simpler, transparent and more predictable
        supportive environment.
    </li>
    <li>Trade information and data regarding trade compliance and export market-related information and cross border
        neighbouring business transactions.
    </li>
    <li>Regular capacity development and refresher training.</li>
    <li>Advocacy with strategic partners and other advisory services.</li>
</ol>
<p>Also, Brochures and communication tools have been disseminated at border to cross border traders.</p>

<h3>INCREASE EAC REGIONAL BUSINESS NETWORKING
</h3>
<p>The EAC Business networking is increased by the dissemination of WICBTs directory at border and by the
    participation in Trade Fairs.</p>
<p> In 2015, paper directories were distributed at borders and an E-directory is
    implemented to facilitate researches of business partners into the EAC region.</p>
<p>Between 2013 and 2015, more than …. Women ICBTs participated in Regional Trade Fairs to increase business contacts
    and economic transactions in the EAC region. More than …. Business contacts have made.</p>