<section class="publication-top ">
    <div>
        <div class="dropzone PBClear">
            <div class="PBViewing" style="width:100%;">
                <ul class="columnwidgetlist">
                    <li class="PBItem">
                        <div class="widget">
                            <div>
                                <div class="content">
                                    <div>[Content for the menu item]</div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>