<section ng-controller="contactsContentCtrl" data-ng-init="init()">
    <table ng-table="contactsTable" show-filter="true" class="table table-condensed table-bordered table-striped">
  	    <tr ng-repeat="contact in data">
            <td data-title="'Organization Name'" sortable="'lastName'" filter="{ 'lastName': 'text' }">{[{contact.organizationName}]}</td>
            <td data-title="'Border'" sortable="'borderLocationFromList'" filter="{ 'borderLocationFromList': 'text' }">{[{contact.borderLocationFromList}]}</td>
            <td data-title="'Country'" sortable="'contactCountry'" filter="{ 'contactCountry': 'text' }">{[{contact.contactCountry}]}</td>
            <td data-title="'Phone Nr'" sortable="'phoneLocalNumber'" filter="{ 'phoneLocalNumber': 'text' }">+{[{contact.phonePrefix}]} {[{contact.phoneLocalNumber}]}</td>
            <td data-title="'E-Mail'" sortable="'email'" filter="{ 'email': 'text' }">{[{contact.email}]}</td>
        </tr>
    </table>
</section>