<section id="theProjectController" ng-controller="theProjectContentCtrl">
    <h2 id="bookmark1">MISSION OF THE PROJECT</h2>

    <h3>FACILITATING TRADE EXPORT AND SUPPORTING THE TRANSITION OF WOMEN FROM INFORMAL TO FORMAL
        CROSS-BORDER TRADE PRACTICES IN THE EAST AFRICAN COMMUNITY</h3>

    <p>In Africa, women informal cross-border traders (ICBTs) contribute from 40% to 64% of GDP. 70% of informal cross
        border trade in Sub-Saharan Africa is undertaken by women and youths.</p>

    <p>The WICBT Project implemented by ITC has as objective to support Women Informal Cross Border Traders (WICBTs) and
        MSMEs in the region of East African Community to comply with import/export procedures and to pass from informal
        to formal cross border trade. Indeed, informal cross-border trade involves imports and exports of legitimately
        produced goods and services, which directly or indirectly escape the regulatory framework for taxation and other
        government procedures. As such, informal cross- border trade often goes incorrectly or totally unrecorded in
        official national statistics.
    </p>

    <h3>SUPPORTING WOMEN TRADING ACROSS BORDERS, WOMEN OWNED SMEs AND WOMEN INFORMAL CROSS-BORDER TRADERS</h3>

    <p>
        The purpose of the project is to create an efficient, more predictable and inclusive business environment that
        is supportive of Women owned enterprises, informal, micro, small and medium-sized enterprises (MSME) women
        cross-border traders in East Africa and help them transition from informal to formal trade. The project aims to
        achieve this by reducing cross-border trade impediments and building the capacity of informal women traders to
        comply with cross-border formalities and access appropriate business services. It also supports the registration
        and formalisation of women ICBTs and promotes the establishment of ICBT national associations. The project
        thereby enables women cross-border traders to increase formal exports to neighbouring countries.
    </p>

    <p>
        The programme aims to generate information on women informal cross border trade (WICBT) that could be useful on
        improving trade environment and trade development institutions by the government and other agencies that could
        make use of such information in policy making, consolidate regulations and trade support services to facilitate
        enhance to complying with cross border formalities.
    </p>

    <h3>Challenges</h3>

    <p>
        Cross-border trade is a major feature of Africa’s economic and social landscape and is also essential for
        reducing poverty. As such, informal cross- border is the main source of income for Women and families in many
        African countries. And this often goes incorrectly or totally unrecorded in official national statistics.
    </p>

    <p>
        Informal cross-border trade involves imports and exports of legitimately produced goods and services, which
        directly or indirectly escape the regulatory framework for taxation and other government procedures. The
        magnitude of informal trade is a great concern to many governments in Africa, not only due to lost revenue, but
        also in terms of border security and the welfare of communities living in border areas.
    </p>


    <p>
        Causes of the practice range from complicated customs formalities and product regulations to weak law
        enforcement at the borders. For Women ICBTs delays at border crossings are usual due to a lack of cross-border
        and trade information and lack of understanding from border agencies. Unfortunately, many women are victims of
        extortion, verbal and physical harassment and even rape.
    </p>

    <p>Lack of knowledge on how to complete cross border transactions, paying taxes, going to formal economy and lack of
        associative or other representation structures are cause of little attention to the problematic, particularly
        severe at-the- borders in far locations. Lack of capacities of Women directly impacts the time and money they
        require to complete a transaction across borders, affecting their livelihood.</p>

    <p>Informal trade provides women ICBTs with a livelihood. Cross border trade contributes to poverty reduction,
        employment, wealth creation and increased trade flows. Increased trade contributes to consumer welfare by making
        food and other consumer goods available at affordable prices to poor and disadvantaged households in the border
        areas, thereby reducing food insecurity.</p>

    <p>However, ICBTs have been marginalised and neglected by mainstream trade policies and institutions, which reduces
        the profitability of their activities. Despite their social and economic contribution, ICBTs still face
        difficulties in meeting a number of non-tariff measures (NTMs), such as Sanitary and Phytosanitary Standards and
        environmental standards. Findings from ITC’s pilot trade facilitation project further suggest that ICBTs often
        face complex and non-transparent export regulations: undue delays at border point; high export processing fees;
        low levels of integrity; harassment by border agencies; lack of transit facilities; poor communication and
        transport networks; language barriers and porous borders. These NTBs and NTMs are particularly severe for women
        MSMEs, particularly those involved in trading agricultural products.</p>

    <br>

    <h2 id="bookmark2">Objectives</h2>

    <p>
        The project aims at facilitating access to business services and promoting the formalization of ICBTs
        regionally. In addition, the project seeks to enhance the capacity of women ICBTs to increase exports to
        neighboring countries by reducing and eliminating trade facilitation impediments at key borders.
    </p>

    <h3>Beneficiaries</h3>

    <p>
        The final beneficiaries are women cross-border traders including those in the informal economy and MSMEs, of
        exporting in the EAC member countries. The beneficiaries are mostly self-employed women with few assets, who,
        for the most part, have limited formal education and limited access to services, such as credit.</p>

    <h3>PILOT PHASE IN UGANDA</h3>

    <p>ITC’s response is to build the capacity of women involved in cross-border traders (ICBTs) and strengthen the
        Associations and multipliers to be better equipped to increase their formal trade across borders.</p>

    <p>The WICBT Project has begun by a Pilot Phase between 2011 and 2012 implemented in Uganda. The Project resulted in
        several important outcomes which directly benefited almost 200 women who were engaged in the informal cross
        border traders. As a result of this success, Phase II (2014-2015) has been implemented in Burundi, Tanzania and
        Uganda and directly benefited more than 700 women and Women Associations at-the-border.</p>


    <p>Particular features of these projects is that were mainly implemented at-the- borders with national
        trained-trainers, where beneficiaries are needed the most, to women that have scarce access to capacity building
        and awareness and represent the most vulnerable part of the cross-border trade.</p>

    <p>Support provided to women reaches further locations and is available in local languages, mostly common at both
        sides of the border. Trainings were also carried out in local languages; and in addition officials from border
        agencies take active part in the events and awareness campaigns.</p>

    <p>In addition, Women entrepreneurs from different associations were invited to participate in trade fairs to
        showcase their products, and making new contacts contributing to the overall outcome of the project. Field
        visits and coordination missions also took place to reinforce regional linkages. Training materials on specific
        issues affecting Women at-the- borders were developed and translated to local languages for dissemination at the
        borders and through the associations. For instance, how to go to formal, tax regimes, cross border procedures
        and rights and obligations of both operators &amp; border officials, management and business related trainings
        -contracts, pricing and negotiation; and setting up &amp; sustaining Women ICBT trade associations- were carried
        out.</p>

    <h3>APPROACH</h3>


    <p>The ITC Women ICBT initiative is under implementation in three countries (Burundi, Tanzania, Uganda) in which
        partnerships have been established with national institutions having representation of Women at the National
        Level and with some 19 at-the- border Women ICBT Associations.</p>

    <p>At the national level, the partners together with ITC carry out coordination and permanent communication between
        the different associations at the border. Also, coordinate and follow up the implementation of communication
        strategy and participation of Women to commercial trade fairs at the national and regional scale.</p>

    <p>Women Associations at-the- borders and ITC implement the capacity building activities with national trainers,
        assess results and needs update. Also, the EAC Women Network has been establishes, a Directory of Women ICBTs
        has been developed, updated and disseminated through the associations.</p>

    <p>As a consequence of the different activities and communication actions of the project, strong linkages have been
        created between the associations and the border agencies and officials at-the-borders, ensuring further success
        and sustainability of change.</p>

    <p>A particular feature of this project is that is mainly implemented at-the- borders. This approach has contributed
        to enhance capacities of a large number of women entrepreneurs and women engaged in informal cross border trade
        to comply with trade formalities; support has been given to associations at-the- borders to support women
        traders, training trainers, creating awareness among its members on the importance of going to formal and the
        practical steps to comply with regulations.</p>

    <p>The approach allowed results as follows:</p>
    <ul>
        <li>Strong linkages have been created between the associations and the border agencies and officials
            at-the-borders; this will ensure further success and sustainability of results.
        </li>
        <li>Support provided to women reaches further locations and is available in local languages.</li>
        <li>Trainings were carried out in local languages; in addition officials from border agencies took active part
            in the events and awareness campaigns.
        </li>
        <li>Women entrepreneurs from different associations are supported to participate in trade fairs to showcase
            their products, and making new contacts contributing to the overall outcome of the project. Field visits and
            coordination missions are also taking place to reinforce linkages.
        </li>
    </ul>


    <p>In conjunction with ITC assistance, many actions were developed on the borders of these countries during Phase II
        of the WICBT Project. The implementation of the WICBT project was coordinated strongly with the support of
        national partners and the ITC national consultants working on the Project.. Together these parties conducted
        diagnostic studies, surveys, and consultancies through each stage of the Project implementation process to
        evaluate impacts and results. The National Partners for each country are as follows:</p>

    <ul>
        <li>The “Association des Femmes d’Affaires du Burundi (AFAB)” in Burundi;</li>
        <li>The “Trade Development Authority (TanTrade)” in Tanzania;</li>
        <li>The “Uganda Export Promotion Board (UEPB)” in Uganda.</li>
    </ul>

    <h3>ACTIONS PERFORMED:</h3>
    <h4>Capacity Building On Cross Border Declarations</h4>

    <p>ITC developed and translated in local languages a series of training manuals in addition to delivering training
        sessions at border. These actions were effective and increased the knowledge and awareness of good export-import
        compliance of Women engaged in cross border trade as well as a better understanding of simplified regime and
        other trade regulations. As a result of this success, various modules have now been adapted on national scale
        and translated in local languages (Kiswahili, Swahili, Kirundi). Multipliers and trainers have been trained at
        border in Women Trade Services Hub to disseminate and support WICBTs’ ability to correctly declare import-export
        transactions and to help women transition from informal to formal cross border trade practices.</p>

    <h4>Supporting the Transition from Informal To Formal Cross Border Trade Practices</h4>

    <p>ITC assists Women and Women Associations at-the- border in beneficiary countries to support the transition of
        women engaged in informal cross border trade (WICBT) to formal registration and formal trade practices. Also,
        during the implementation some Women ICBTs associations have been created or supported in three counties with
        the purpose of organizing women traders and raising awareness of registering their businesses.T, Training
        materials have been developed and training sessions organized for addressing the needs of Women cross border
        traders as well as strengthening the Women Associations. Furthermore, a training module is dedicated on the
        registration to obtain a Tax Number Identification.</p>

    <h4>
        AWARNESS AND DISSIMINATION OF GOOD EXPORT-IMPORT COMPLIANCE KNOWLEDGE AT BORDERS
    </h4>

    <p>Women Trade Services Hubs have been established at border to awareness Women &amp; ICBTs. These focal points
        provide various services including: information on custom procedures &amp; export requirements; taxation;
        capacity building; and enabling women to do new business by linking them to new markets through the Women EAC
        Networks Business &amp; Logistics.</p>

    <p>A Women ICBTs association form a focal point at selected border, (named Women Trade Services Hub), which received
        training of trainers and delivers information &amp; awareness on export-import procedures and assist
        beneficiaries on official registration of SMEs among others.</p>

    <p>The main advantages of a Women Trade Services Hub are: assistance related to customs procedures and export
        requirements; capacity building services; and answers to common trade facilitation hurdles. Overall, these
        Services Hubs provide customer care services for Women ICBTs and Women Traders that would facilitate trade and
        ultimately create a faster, simpler, more supportive environment by making the formal trading process more
        transparent and predictable by providing;</p>

    <ol>
        <li>Trade information and data regarding trade compliance is available;</li>
        <li>Information on cross border neighbouring business transactions is provided;</li>
        <li>Regular capacity development and refresher training for women takes place with national trainers;</li>
        <li>Dissemination of brochures and other tools for effective communication to women cross border traders is done
            on a continuous basis;
        </li>
        <li>Advocacy with strategic partners and meetings with Joint Border Committees take place;</li>
        <li>. and other advisory services that use the network to replicate knowledge from other TRTA projects..</li>
    </ol>


    <h3>BUSINESS AND LOGISTIC NETWORK: INCREASE EAC REGIONAL BUSINES FOR WOMEN</h3>

    <p>The EAC Business networking has been increased by both the dissemination of the WICBTs directory at borders and
        the Women participation in Regional Trade Fairs. In 2015, paper and electronic updated Directories were
        distributed at borders and an E-directory has been implemented to facilitate researches of business partners
        into the EAC region.</p>

    <p>Since 2014, more than 40 Women ICBTs participated in Regional Trade Fairs and as a result they made some 150 new
        business contacts and concluded trade transactions in the EAC region. More than 700 Business contacts have been
        exposed to new markets in the E-Directory and Logistics Network.</p>

    <br>

    <h2 id="bookmark3">Results and achievements</h2>

    <p>The Business environment in which Women run trade across borders is improved in EAC countries. The project has
        strengthened capacities of Women ICBT Associations’ at-border in target countries to replicate knowledge and
        support women as well as improving capabilities through improved strategies and instruments relating to
        organisation, networking, and communication.</p>

    <p>The access to formal trade, increased capacities and a better understanding of issues affecting cross border
        trade empowered Women to actively participate and be better represented in policy discussions to ease trade and
        organize in Associations.</p>

    <p>The various success stories and survey carried out show how the project improved the livelihood of Women ICBT and
        the security and predictability of borders.</p>

    <p>At the result levels, an increased number of women started trading across borders formally and their capacities
        on cross border transaction management enhanced, doing business profitably.</p>

    <p>Project focus mainly on the following goals:</p>
    <ul>
        <li>Poverty: Women ICBT are often the main support of families, by enhancing the conditions under which they
            operate and increasing their revenues we contribute to reduce poverty.
        </li>
        <li>Gender equality: not only by enhancing their access to work but also empowering them to actively take part
            in policy discussions.
        </li>
        <li>Decent work &amp; economic growth: by enhancing the legal protection of Women businesses and enabling the
            development of economic activity at the borders.
        </li>
    </ul>

    <h4>Achievements</h4>

    <p>
        Assisted Women informal cross-border traders (ICBT’s) and MSMEs benefited from a reduction in exporting times
        and costs and increased levels of compliance with cross-border procedures. These benefits reduced uncertainty in
        the business environment and contribute to increase the volume of exports by women ICBTs and MSMEs in the
        region. The project counts with following achievements:</p>

    <p>The main advantages of a Women Trade Services Hub are:</p>
    <ul>
        <li>ICBTs and MSMEs have increased trust in transparent, streamlined cross border formalities leading to
            increased voluntary compliance in beneficiary countries;
        </li>
        <li>Greater inter-institutional coordination and increased capacity of trade facilitation agencies and trade
            support institutions in the EAC to support women ICBTs and MSMEs;
        </li>
        <li>A greater ability of women ICBTs and MSMEs in EAC to meet cross border formalities and overcome non-tariff
            barriers through customised trade facilitation services and support to facilitate their transition to the
            formal economy, as well as paying taxes and creating Women associations;
        </li>
        <li>The establishment of a regional trade facilitation and logistics network to support women informal
            cross-border traders and MSMEs to create business opportunities in the EAC region, share knowledge and
            practices as well as addressing the impediments to smooth, transparent and predictable exporting faced by
            these two groups;
        </li>
        <li>The creation of capacity trade services hubs to provide trade services to SMEs and establish a safe and
            secure environment for reporting misconduct by border agencies for Women Informal Cross-Border Traders and
            MSMEs; and
        </li>
    </ul>

    <!--<img src="/static/app/images/the-project.png" alt="EAC">-->

    <br>

    <h3 id="bookmark4">Success Stories</h2>

        <p>tbd</p>

</section>