        <section class="footer-mid">
            <div class="wrapper clearfix">
                <ul>
                    <li><a href="//www.intracen.org/contactus/" target="_blank">Contact Us</a></li>
                    <li><a href="//www.unsystem.org/" target="_blank">UN Site Locator</a></li>
                    <li><a href="//www.intracen.org/itc/about/working-with-itc/itc-career/" target="_blank">Careers</a></li>
                </ul>
                <aside>
                    <a href="http://www.unctad.org" target="_blank" class="logo-footer-1"><img src="/static/app/images/logo-footer-1.png" alt=""/></a>
                    <a href="http://www.wto.org" target="_blank" class="logo-footer-2"><img src="/static/app/images/logo-footer-2.png" alt=""/></a>
                </aside>
            </div>
        </section>
        <section class="footer-bot">
            <div class="wrapper clearfix">
                <ul>
                    <li><a href="//www.intracen.org/itc/terms-and-conditions/" target="_blank">Terms and conditions</a></li>
                    <li><a href="//www.intracen.org/itc/copyright-notice/" target="_blank">Copyright notice</a></li>
                </ul>
            </div>
        </section>