    <section class="header-top">
        <div class="wrapper clearfix">
            <div class="desktop">
                <ul class="top-menu clearfix">
                    <li><a href="//www.intracen.org/itc/exporters/" target="_blank">Exporters</a>
                        <ul class="dblock">
                            <li><a href="//www.intracen.org/itc/exporters/export-management/" target="_blank">Export management</a></li>
                            <li><a href="//www.intracen.org/itc/exporters/researching-export-markets/" target="_blank">Researching export markets</a></li>
                            <li><a href="//www.intracen.org/itc/exporters/supply-chain-management/" target="_blank">Supply chain management</a></li>
                            <li><a href="//www.intracen.org/itc/exporters/quality-management/" target="_blank">Standards and Quality</a>
                                <ul>
                                    <li><a href="//www.intracen.org/itc/exporters/quality-management/about-quality/" target="_blank">About quality</a></li>
                                    <li><a href="//www.intracen.org/itc/exporters/quality-management/quality-publications-index/" target="_blank">Information</a></li>
                                    <li><a href="//www.intracen.org/itc/exporters/quality-management/training-and-advisory-services/" target="_blank">Capacity building and advisory services</a></li>
                                    <li><a href="//www.intracen.org/itc/exporters/quality-management/projects/" target="_blank">Projects and impact stories</a></li>
                                    <li><a href="//www.intracen.org/itc/exporters/quality-management/partners-and-networks/" target="_blank">Partners and networks</a></li>
                                    <li><a href="//www.intracen.org/itc/exporters/quality-management/events-and-media-coverage/" target="_blank">Export quality workshops</a></li>
                                    <li><a href="//www.intracen.org/itc/exporters/quality-management/useful-links/" target="_blank">Useful links</a></li>
                                </ul>
                            </li>
                            <li><a href="//www.intracen.org/itc/exporters/packaging/" target="_blank">Packaging</a>
                                <ul>
                                    <li><a href="//www.intracen.org/itc/exporters/packaging/description-of-packit-modules/" target="_blank">Description of PACKit modules</a></li>
                                    <li><a href="//www.intracen.org/itc/exporters/packaging/glossary/" target="_blank">Glossary</a></li>
                                </ul>
                            </li>
                            <li><a href="//www.intracen.org/itc/export-marketing-and-branding/" target="_blank">Marketing and branding</a>
                                <ul>
                                    <li><a href="//www.intracen.org/itc/marketing-and-branding/training-services/" target="_blank">Training services</a></li>
                                    <li><a href="//www.intracen.org/itc/marketing-and-branding/advisory-services/" target="_blank">Advisory services</a></li>
                                    <li><a href="//www.intracen.org/itc/marketing-and-branding/cases/" target="_blank">Cases</a></li>
                                </ul>
                            </li>
                            <li><a href="//www.intracen.org/itc/exporters/model-contracts/" target="_blank">Model Contracts</a></li>
                            <li><a href="//www.intracen.org/itc/exporters/obtaining-export-credits/" target="_blank">Obtaining export credits</a></li>
                            <li><a href="//www.intracen.org/itc/exporters/using-e-business-tools/" target="_blank">Using e-business tools</a>
                                <ul>
                                    <li><a href="//www.intracen.org/itc/exporters/trade-at-hand/" target="_blank">Mobile business solutions</a></li>
                                </ul>
                            </li>
                            <li><a href="//www.intracen.org/itc/exporters/exporters-news/" target="_blank">Exporters news</a></li>
                        </ul>
                    </li>
                    <li><a href="//www.intracen.org/itc/trade-support/" target="_blank">Trade support institutions</a>
                        <ul class="dblock">
                            <li><a href="//www.intracen.org/itc/trade-support/improving-your-organization/" target="_blank">Improving your organization</a>
                                <ul>
                                    <li><a href="//www.intracen.org/itc/trade-support/setting-up-trade-support-institution/" target="_blank">Setting up a trade support institution</a></li>
                                    <li><a href="//www.intracen.org/itc/trade-support/assessment-and-benchmarking/" target="_blank">Assessment and benchmarking</a></li>
                                    <li><a href="//www.intracen.org/itc/trade-support/designing-business-strategy/" target="_blank">Designing your business strategy</a></li>
                                    <li><a href="//www.intracen.org/itc/trade-support/developing-a-service-portfolio/" target="_blank">Developing your service portfolio</a></li>
                                    <li><a href="//www.intracen.org/itc/trade-support/improving-management-practices/" target="_blank">Improving management practices</a></li>
                                    <li><a href="//www.intracen.org/itc/trade-support/market-analysis/" target="_blank">Market analysis</a></li>
                                    <li><a href="//www.intracen.org/itc/trade-support/impact-assessment/" target="_blank">Impact assessment</a></li>
                                </ul>
                            </li>
                            <li><a href="//www.intracen.org/itc/trade-support/delivering-services-to-exporters/" target="_blank">Delivering services to exporters</a>
                                <ul>
                                    <li><a href="//www.intracen.org/itc/trade-support/foreign-trade-representation/" target="_blank">Foreign trade representation</a></li>
                                    <li><a href="//www.intracen.org/itc/trade-support/generating-business-leads/" target="_blank">Generating business leads</a></li>
                                    <li><a href="//www.intracen.org/itc/trade-support/evaluating-trade-credit-applications/" target="_blank">Evaluating trade credit applications</a></li>
                                    <li><a href="//www.intracen.org/itc/trade-support/offering-trade-information-services/" target="_blank">Offering trade information services</a></li>
                                    <li><a href="//www.intracen.org/itc/trade-support/promoting-regional-trade/" target="_blank">Promoting regional trade</a></li>
                                    <li><a href="//www.intracen.org/itc/trade-support/trade-advisor-certification/" target="_blank">Trade advisor certification</a></li>
                                    <li><a href="//www.intracen.org/itc/trade-facilitation-programme/" target="_blank">Trade Facilitation</a></li>
                                    <li><a href="//www.intracen.org/itc/trade-support/arbitration-and-mediation/" target="_blank">Arbitration and mediation</a></li>
                                </ul>
                            </li>
                            <li><a href="//www.intracen.org/itc/trade-support/business-voice-in-policy-making/" target="_blank">Business voice in policy making</a>
                                <ul>
                                    <li><a href="//www.intracen.org/itc/trade-support/how-to-influence-trade-negotiations/" target="_blank">How to influence trade negotiations</a></li>
                                    <li><a href="//www.intracen.org/itc/trade-support/impacting-trade-policy/" target="_blank">Impacting trade policy</a></li>
                                    <li><a href="//www.intracen.org/itc/trade-support/wto-accession-implication-for-business/" target="_blank">WTO accession: implication for business</a></li>
                                    <li><a href="//www.intracen.org/itc/trade-support/public-private-dialogue/" target="_blank">Public-private dialogue for export strategy</a></li>
                                    <li><a href="//www.intracen.org/itc/trade-support/national-export-strategy-design/" target="_blank">National Export Strategy Design</a></li>
                                    <li><a href="//www.intracen.org/itc/trade-support/sectoral-export-strategies/" target="_blank">Sectoral Export Strategies</a></li>
                                </ul>
                            </li>
                            <li><a href="//www.intracen.org/itc/trade-support/networking/" target="_blank">Networking</a>
                                <ul>
                                    <li><a href="//www.intracen.org/itc/trade-support/the-tpo-network-world-conference-and-awards/" target="_blank">The TPO Network</a></li>
                                    <li><a href="//www.intracen.org/itc/trade-support/strengthening-tsi-cooperation/" target="_blank">Strengthening TSI Cooperation</a></li>
                                    <li><a href="//www.intracen.org/publication/Trade-Promotion-Organizations-Directory-2015/" target="_blank">TPO directory</a></li>
                                    <li><a href="//www.intracen.org/itc/trade-support/importers-associations/" target="_blank">Importer's associations</a></li>
                                </ul>
                            </li>
                            <li><a href="//www.intracen.org/itc/trade-support/news/" target="_blank">TSIs news</a></li>
                            <li><a href="//www.intracen.org/publication/Trade-Promotion-Organizations-Directory-2015/" target="_blank">TPO directory</a></li>
                        </ul>
                    </li>
                    <li><a href="//www.intracen.org/itc/policy/" target="_blank">Policymakers</a>
                        <ul class="dblock">
                            <li><a href="//www.intracen.org/itc/policy/assisting-with-wto-accession/" target="_blank">Assisting with WTO accession</a></li>
                            <li><a href="//www.intracen.org/itc/policy/business-voice-in-policy-making/" target="_blank">Business voice in policy making</a>
                                <ul>
                                    <li><a href="//www.intracen.org/itc/trade-facilitation-programme/" target="_blank">Trade facilitation</a></li>
                                    <li><a href="//www.intracen.org/itc/policy/impacting-trade-policy/" target="_blank">Impacting trade policy</a></li>
                                    <li><a href="//www.intracen.org/itc/policy/how-to-influence-trade-negotiations/" target="_blank">How to influence trade negotiations</a></li>
                                </ul>
                            </li>
                            <li><a href="//www.intracen.org/itc/trade-strategy/" target="_blank">Trade strategy design</a>
                                <ul>
                                    <li><a href="//www.intracen.org/export-strategy-map/" target="_blank">Export strategy map</a></li>
                                    <li><a href="//www.intracen.org/itc/export-strategy-design/related-news/" target="_blank">Related news</a></li>
                                </ul>
                            </li>
                            <li><a href="//www.intracen.org/itc/policy/wto-updates-for-business/" target="_blank">WTO updates for business</a></li>
                            <li><a href="//www.intracen.org/itc/policy/news/" target="_blank">Policymakers news</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <ul class="login">
                <li><a id="ctl00_HeaderTop1_Login_subcribe" href="//www.intracen.org/SocialSignOn.aspx" target="_blank">Subscribe</a></li>
            </ul>
            <span style="color: White;">&#160;</span>
        </div>
    </section>