<section class="header-mid">
    <section class="header-mid" id="headerController" ng-controller="headerCtrl">
        <div class="wrapper clearfix">
            <a style="display:inline-block;width:60%" href="//www.intracen.org" title="ITC" class="logo" target="_blank"><img src="/static/app/images/logo.png" alt="ITC"/></a>
            <div style="display:inline-block;width:auto">
                <input type="text" ng-model="queryString" style="width:240px" ng-keypress="($event.which === 13)?search():0">
                <a href="#" ng-click="search()"/><img src="/static/app/images/search_small.png" alt="Search"></a>
                <a href="#" ng-click="openHelp()"/><img src="/static/app/images/help-icon-small.png" alt="Search"></a>
            </div>
            <!--<h1 class="punch-line">Export Impact For Good</h1>-->
        </div>
    </section>
</section>
