<aside class="box-hld subpage-left-navbar dzHolderCC">
    <h2 class="dark-blue">EAC Project</h2>
    <a class="toggle-menu-left-menu sort" rel="toggleSection2" href="#"></a>
    <div id="ctl00_mainC_dzleftmenu_updatepanel">
        <div class="dropzone PBClear">
            <div class="PBViewing" style="width:100%;">
                <ul class="columnwidgetlist">
                    <li class="PBItem">
                        <div class="widget">
                            <div>
                                <div class="content">
                                    <div class="sortHld toggleSection2 left-hld-menu2">
                                        <ul class="menu-left" ng-repeat="(id, section) in sections">
                                            <li>
                                                <a href="#" ng-click="changeContent(id)">{[{section.title}]}</a>
                                                <ul ng-repeat="subItem in section.subItems"  ng-show="id == currentSection">
                                                    <li><a href="" ng-click="scrollTo(subItem.bookmark)">{[{subItem.title}]}</a></li>
                                                 </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</aside>