<aside class="box-hld subpage-left-navbar dzHolderCC">
    <h2 class="dark-blue">EAC Project</h2>
    <div id="ctl00_mainC_dzleftmenu_updatepanel">
        <div class="dropzone PBClear">
            <div class="PBViewing" style="width:100%;">
                <ul class="columnwidgetlist">
                    <li class="PBItem">
                        <div class="widget">
                            <div>
                                <div class="content">
                                    <div class="sortHld toggleSection2 left-hld-menu2">
                                        <ul class="menu-left">
                                            <li><a class="active" href="/itc/eac/eac-project/" target="_self">The Project</a></li>
                                            <li><a href="/itc/eac/mission/" target="_self">Mission and objectives of the project</a></li>
                                            <li><a href="/itc/eac/communication/" target="_self">Communication, Brochures and press articles</a></li>
                                            <li><a href="/itc/eac/success-stories/" target="_self">Success Stories of Women in EAC</a></li>
                                            <li><a href="/itc/eac/results/" target="_self">Results and achievements</a></li>
                                            <li><a href="/itc/eac/network/" target="_self">The Women EAC Network: the E-Directory of women owned firms</a></li>
                                            <li><a href="/itc/eac/register/" target="_self">Register to the EAC Network</a></li>
                                            <li><a href="/itc/eac/contacts/" target="_self">Contacts: Trade Support Institutions, Women Associations, Trade Hubs, and Border Agencies in EAC</a></li>
                                            <li><a href="/itc/eac/resources/" target="_self">Resources: Agricultural Model Contracts, Tools and training materials</a></li>
                                            <li><a href="/itc/eac/events/" target="_self">Events: training and participation to Trade Fairs</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</aside>