{% load staticfiles %}
{% load compress %}
<!doctype html>
<html>
<head id="ctl00_Head1">
    {% if settings.DEBUG %}
        <script src="{% static 'app/js/angular/angular.js' %}"></script>
        <script>var GA_ACCOUNT = '{{ settings.GA_ACCOUNT  }}';</script>
        <script src="{% static 'app/js/google-analitics.js' %}"></script>
    {% else %}
        {% compress js %}
        <script src="{% static 'app/js/angular/angular.min.js' %}"></script>
        <script>var GA_ACCOUNT = '{{ settings.GA_ACCOUNT  }}';</script>
        <script src="{% static 'app/js/google-analitics.js' %}"></script>
        {% endcompress %}
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" href="{% static 'app/images/favicon.ico' %}" type="image/vnd.microsoft.icon"/>
    {% if settings.DEBUG %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/screen.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/itc-screen.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/js/angular/ngTable/ng-table.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/js/angular/ngDialog/ngDialog.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/js/angular/ngDialog/ngDialog-theme-default.min.css' %}" />
    {% else %}
        {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/screen.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/itc-screen.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/js/angular/ngTable/ng-table.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/js/angular/ngDialog/ngDialog.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/js/angular/ngDialog/ngDialog-theme-default.min.css' %}" />
        {% endcompress %}
    {% endif %}

    <meta name="Keywords"
          content="International Trade Centre, ITC, WTO, World Trade Organization, small and medium-sized enterprises, e-commerce,
          e-trade, export, import, LDCs, developing countries, economies in transition, trade development, WTO, SME, competitiveness,
          promotion, information, packaging, purchasing, business, markets, benchmarking, statistics, commodities,
          multilateral trading system, services exporting, training, supply management"/>
    <title>
        The EAC Project
    </title>
</head>
<body ng-app="eacApp">
<div>
    {% include "app/header-top-desktop.html" %}
    {% include "app/header-mid.html"%}
    <section class="wrapper clearfix">
        <div class="row clearfix" ng-controller="titleCtrl">
            <div class="page-top-hld clearfix">
                <div class="col-md-2">
                    <input type="button" style="white-space: normal;" value="REGISTER to the EAC Women E-Directory" class="register" ng-click="openRegister()"/>
                </div>
                <div class="col-md-7">
                    <h1 style="margin-left:0; margin-right:0;" class="column-heading">{[{title}]}</h1>
                </div>
                {% include "app/header-share.html"%}
            </div>
            <div class="col-md-2 ipad-left-menu" id="float-menu">
                {% include "app/left-menu.html"%}
            </div>
            <div class="ipad-mid-cont">
                <div class="col-md-7">
                    <div class="main-content itc-event marb20 dzHolderCC">
                        {% include "app/content.html"%}
                    </div>
                </div>
                <div class="col-md-3 no-print-section">
                    {% include "app/events-bubble.html"%}
                </div>
            </div>
        </div>
    </section>

    <footer class="footer-hld">
        {% include "app/footer.html"%}
    </footer>
</div>
<script type="text/ng-template" id="registerId">
    {% include "app/register.html"%}
</script>
<script type="text/ng-template" id="searchHelpId">
    {% include "app/search-help.html"%}
</script>
</body>
{% if settings.DEBUG %}
    <script src="{% static 'app/js/jquery.min.js' %}"></script>
    <script src="{% static 'app/js/jquery.elevatezoom.min.js' %}"></script>
    <script src="{% static 'app/js/angular/angular-route.js' %}"></script>
    <script src="{% static 'app/js/angular/ngTable/ng-table.js' %}"></script>
    <script src="{% static 'app/js/angular/angular-animate.js' %}"></script>
    <script src="{% static 'app/js/angular/ngDialog/ngDialog.js' %}"></script>
    <script src="{% static 'app/js/angular/angular-aria.js' %}"></script>
    <script src="{% static 'app/js/angular/angular-sanitize.js' %}"></script>
    <script src="{% static 'app/js/angular/readmore.js' %}"></script>
    <script src="{% static 'app/js/angular/angular-material.js' %}"></script>
    <script src="{% static 'app/js/angular/ui-bootstrap-tpls-1.3.3.min.js'%}"></script>
    <script src="{% static 'app/js/menu-scroll.js' %}"></script>
    <script src="{% static 'app/js/eac.js' %}"></script>
{% else %}
    {% compress js %}
    <script src="{% static 'app/js/jquery.min.js' %}"></script>
    <script src="{% static 'app/js/jquery.elevatezoom.min.js' %}"></script>
    <script src="{% static 'app/js/angular/angular-route.min.js' %}"></script>
    <script src="{% static 'app/js/angular/ngTable/ng-table.min.js' %}"></script>
    <script src="{% static 'app/js/angular/angular-animate.min.js' %}"></script>
    <script src="{% static 'app/js/angular/ngDialog/ngDialog.min.js' %}"></script>
    <script src="{% static 'app/js/angular/angular-aria.min.js' %}"></script>
    <script src="{% static 'app/js/angular/angular-sanitize.min.js' %}"></script>
    <script src="{% static 'app/js/angular/readmore.min.js' %}"></script>
    <script src="{% static 'app/js/angular/angular-material.min.js' %}"></script>
    <script src="{% static 'app/js/angular/ui-bootstrap-tpls-1.3.3.min.js'%}"></script>
    <script src="{% static 'app/js/menu-scroll.js' %}"></script>
    <script src="{% static 'app/js/eac.js' %}"></script>
    {% endcompress %}
{% endif %}
</html>
