<div class="search-help-content">
    <ul>
        <li>OR | (term1 <span class="search-help">|</span> term2)</li>
        <li>NOT - (term1 <span class="search-help">-</span> term2)</li>
        <li>Exact phrase (<span class="search-help">"</span>term1 term2<span class="search-help">"</span>)</li>
        <li>Proximity (<span class="search-help">"</span>term1 term2<span class="search-help">"~5</span>)</li>
        <li>Quorum matching (<span class="search-help">"</span>term1 term2 term3<span class="search-help">"/2</span>)</li>
        <li>Strict Order <<,>> (term1 <span class="search-help"><<</span> term2)</li>
        <li>Generalized proximity NEAR (term1 <span class="search-help">NEAR/4</span> term2)</li>
    </ul>
</div>
